<div class="row mt-4">
  <div class="col">
    <h1 class="">Manage Users</h1>
  </div>
  <div class="col">
    <button type="button" class="btn btn-success"
    onclick="addUserModal()">
      Add User
    </button>
</div>

<%
  if (users.length > 0) {
    %>
    <table id="usersTable" class="display">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Group</th>
          <th>Failed Login Attempt</th>
          <th>Is Locked</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr id="<%= user.username %>">
          <td><%= user.username %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.usergroup %></td>
          <td><%= user.failed_login_count %></td>
          <td id = 'isLocked_<%= user.username%>'>
            <% if(user.is_locked) { %>
              <span class="badge bg-danger">Locked</span>
            <% } else { %>
              <span class="badge bg-success">Unlocked</span>
            <% } %>
          </td>
          <td>
            <button type="button" onclick="editUser('<%= user.username%>')" class="btn btn-primary">
              Edit
            </button>
            <button type="button" onclick="deleteUser('<%= user.username%>')" class="btn btn-danger">
              Delete
            </button>
            <button type="button" onclick="changePasswordPrompt('<%= user.username%>')" class="btn btn-primary">
              Change Password
            </button>
            <% if(user.is_locked) { %>
              <button type="button" onclick="lockOrUnlockUser('<%= user.username%>', false)" class="btn btn-success">
                Unlock User
              </button>
            <% } else { %>
              <button type="button" onclick="lockOrUnlockUser('<%= user.username%>', true)" class="btn btn-warning">
                Lock User
              </button>
            <% } %>
          </td>
        </tr>
        <% }); %>
        <!-- <tr>
          <form method="post" action="/api/users/add">
            <td><input placeholder="Username" type="text" name="username"></td>
            <td><input placeholder="First name" type="text" name="first_name"></td>
            <td><input placeholder="Last Name" type="text" name="last_name"></td>
            <td>
              <select>
                <%
                  userGroups.forEach(function(userGroup) {
                    %> <option value="<%= userGroup.group_name %>"><%= userGroup.group_name %></option>
                    <%
                  });
                %>
              </select>
            </td>
            <td></td>
            <td>
              <button type="submit" class="btn btn-success">Add</button>
            </td>
          </form>
        </tr> -->
      </tbody>
    </table>
    <%
  } else {
    %>
    <p>No users found</p>
    <%
  }
%>


<!-- Modal to manage users -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userModalLabel">Manage User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="userForm" action="api/users/add" method="post">
          <input type="hidden" name="old_username" id="old_username">
          <div class="mb-3">
            <label for="username" class="col-form-label">Username:</label>
            <input required name="username" type="text" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="username" class="col-form-label">Password:</label>
            <input required id="password" name="password" type="password" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="first-name" class="col-form-label">First Name:</label>
            <input required name="first_name" type="text" class="form-control" id="first-name">
          </div>
          <div class="mb-3">
            <label for="last-name" class="col-form-label">Last Name:</label>
            <input required name="last_name" type="text" class="form-control" id="last-name">
          </div>
          <div class="mb-3">
            <label for="user-group" class="col-form-label">User Group:</label>
            <select required name='userGroup' class="form-select" id="user-group" aria-label="Default select example">
              <%
                userGroups.forEach(function(userGroup) {
                  %> <option
                  <% if(userGroup.group_name == 'default') {
                    %> selected <%
                  } %>
                  value="<%= userGroup.group_name %>"><%= userGroup.group_name %></option>
                  <%
                });
              %>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button form="userForm" type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to changepassword -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="passwordModalLAbel">Change User Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="passwordForm" action="/api/users/adminChangePassword" method="post">
          <div class="mb-3">
            <label for="cp_username" class="col-form-label">Username:</label>
            <input readonly required name="cp_username" type="text" class="form-control" id="cp_username">
          </div>
          <div class="mb-3">
            <label for="cp_password" class="col-form-label">New Password:</label>
            <input required id="cp_password" name="cp_password" type="password" class="form-control" id="cp_password">
          </div>

          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button form="passwordForm" type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </div>

    </div>
  </div>
</div>










<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


<script>
  $(document).ready(function() {
    $('#usersTable').DataTable();
  });

  function deleteUser(username) {
    if(!confirm('Are you sure you want to delete this user?')) {
      return;
    }
    $.ajax({
      url: '/api/users/delete',
      type: 'DELETE',
      data: {
        username: username
      },
      success: function(result) {
        // delete row
        $('#usersTable').DataTable().row('#' + username).remove().draw();
      },
      error: function(result) {
        alert(result.responseText);
      }
    });
  }

  // function to clear modal
  function addUserModal() {
    $('#userModalLabel').text('Add User');
    $('#userForm').attr('action', '/api/users/add');
    $('#old_username').prop('disabled', true)
    $('#old_username').val('');
    $('#username').val('');
    $('#username').prop('disabled', false)
    $('#first-name').val('');
    $('#last-name').val('');
    $('#user-group').val('default');
    $('#password').prop('disabled', false)
    $('#password').prop('required', false)
    $('#userModal').modal('show');
  }

  // function populate modal with user data
  function editUser(username) {

    // query datatable for user data

    var result = $('#usersTable').DataTable().row('#' + username).data();
    console.log(result)
    $('#userModal').modal('show');
    $('#userModalLabel').text('Edit User');
    $('#userForm').attr('action', '/api/users/update');
    $('#password').prop('disabled', true)
    $('#password').prop('required', false)
    $('#username').val(result[0]);
    $('#old_username').val(result[0]);
    $('#old_username').prop('disabled', false)
    $('#username').prop('disabled', false)
    $('#first-name').val(result[1]);
    $('#last-name').val(result[2]);
    $('#user-group').val(result[3]);

  }

  function lockOrUnlockUser(username, isLocked){
    $.ajax({
      url: '/api/lockOrUnlockUser',
      type: 'POST',
      data: {
        username: username,
        isLocked: isLocked
      },
      success: function(result) {
        // update row in table
        var row = $('#usersTable').DataTable().row('#' + username);
        var data = row.data();
        let btnArray = data[6].split(`<button`);
        btnArray.pop()
        let btnString = btnArray.join(`<button`)
        if(isLocked){
          data[5] = '<span class="badge bg-danger">Locked</span>';
          // the last button to unlock
          btnString = btnString += `<button type="button" onclick="lockOrUnlockUser('${username}', false)" class="btn btn-success">
            Unlock User
            </button>`;
          data[6] = btnString;
        } else {
          data[5] = '<span class="badge bg-success">Unlocked</span>';
          data[6] = btnString += `<button type="button" onclick="lockOrUnlockUser('${username}', true)" class="btn btn-warning">
            Lock User
            </button>`;
        }
        data[4] = "0"
        row.data(data).draw();

      },
      error: function(result) {
        alert(result.responseText);
      }
    });
  }

  function changePasswordPrompt(username){
    $('#passwordModal').modal('show');
    $('#cp_username').val(username);
  }

</script>